.syn-search {
  display: flex;
  gap: var(--size-2);
  align-items: flex-start;
  flex-wrap: wrap;
}

.syn-search__input-wrapper {
  position: relative;
  flex: 1;
}

@media (max-width: 500px) {
  .syn-search__input-wrapper {
    min-width: 0;
    width: 100%;
  }

  .syn-search .syn-btn {
    width: 100%;
    justify-content: center;
  }
}
