.syn-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--size-2);
  padding: var(--size-2) var(--size-5);
  border-bottom: 1px solid var(--surface-4);
  background: var(--surface-2);
  user-select: none;
  position: sticky;
  top: 0;
  z-index: 10;
}

.syn-header__title-container {
  display: flex;
  align-items: center;
  gap: var(--size-2);
}

.syn-header__icon {
  width: var(--size-4);
  height: var(--size-4);
  object-fit: contain;
}

.syn-header__title {
  font-size: var(--font-size--1);
  font-weight: 600;
  color: var(--text-1);
}

.syn-header__win-controls {
  display: flex;
  gap: var(--size-2);
}

.syn-header__win-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: var(--size-1);
  color: var(--text-2);
  display: flex;
  align-items: center;
  border-radius: var(--radius-2);
}

.syn-header__win-btn:hover {
  color: var(--brand);
}
